/* Primary */
$color-primary-white: #FFF;
$color-primary-black: #000;
$color-primary-cx-green: #006564;
$color-primary-cx-red: #C2262E;

/* Secondary */
$color-secondary-cx-light-green: #367D79;
$color-secondary-cx-warm-green: #498169;
$color-secondary-cx-gold: #C1B49A;
$color-secondary-cx-dark-gold: #8E8573;
$color-secondary-cx-link: #0F748F;
$color-secondary-cx-navy: #202F42;
$color-secondary-cx-dark-grey: #4C4C4C;
$color-secondary-cx-warm-grey: #C6C2C1;
$color-secondary-cx-extra-light-grey: #F9F9F9;
$color-secondary-cx-light-grey: #EBEDEC;

/* Tertiary */
$color-tertiary-cx-error: #D11F00;
$color-tertiary-cx-alert: #FED700;
$color-tertiary-cx-clay: #FCF6EA;
$color-tertiary-cx-unselectable: #D7D7D7;

/* Flight classes */
$color-cabin-cx-economy: $color-primary-cx-green;

$color-cabin-cx-pey: #487C94;
$color-cabin-cx-business: #002E6C;
$color-cabin-cx-first: #832C40;

/* Cathay Dragon */
$color-ka-red: #A51E36;
$color-ka-deep-red: #8B182E;
$color-ka-light-red: #B05D56;

/* Marco Polo Club */
$color-mpo-green: #006564;
$color-mpo-silver: #696A6A;
$color-mpo-gold: #886521;
$color-mpo-diamond: #2E2A25;

/* Other */
$color-asia-miles: #C6C2C1;
$color-ru: #C6C2C1;

/* divider */
$cx-vera-divider: #EDEDED;

/* table border */
$cx-table-border: #d8d8d8;

// message box
$cx-vera-light-grey: #f9f9f9;
$cx-vera-light-green: #F0F9F6;

$cx-grey-dark: #4c4c4c;