/* Alert message variables */
$alert-height: 34px;
$alert-letter-spacing: 0;
$alert-line-height: 19px;

/* Button variables */
$button-border-radius: 2px;
$button-color-jade: #0A90A3;
$button-color-dark-jade: #00718C;
$button-color-disable-grey: #EDEFEE;
$button-color-disable-dark-grey: #D3D5D4;
$button-color-red: #CF383F;
$button-color-dark-red: #A82229;
$button-font-size: 14px;
$button-height: 45px;
$button-line-height: 19px;
$button-primary-min-width: 180px;
$button-secondary-min-width: 140px;

/* Radio button variables */
$radio-outer-circle-height: 19px;
$radio-inner-circle-height: 8px;

/* Input field variables */

/* Navigation variables */
$navigation-color-background-slate: #E8EAE9;
$navigation-color-hover-slate: #ECEEED;
$navigation-color-mobile-border-slate: #D8D8D8;

/* App shell variables */
$app-shell-side-bar-width: 48px;
$app-shell-side-bar-height: 100vh;
$app-shell-side-bar-bg-color: #f9f9f9;
