$grid-gutter-width: 13px !default;
$grid-columns: 12 !default;

@media (max-width: 1280px) {
  $grid-gutter-width: 16px !default;
  $grid-columns: 12 !default;
}

@media (max-width: 1007px) {
  $grid-gutter-width: 16px !default;
  $grid-columns: 8 !default;
}

@media (max-width: 599px) {
  $grid-gutter-width: 13px !default;
  $grid-columns: 4 !default;
}

$grid-breakpoints: (
  xs: 0,
  sm: 599px,
  md: 1007px,
  lg: 1280px,
  xl: 1281px
) !default;
